.statistics {
  font-family: sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #e7ecf2;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.wrapperStatistic {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 300px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(177, 177, 177);
}

.statList {
    width: 100%;
    height: 60px;
    padding: 0;
    margin: 0;
    display: flex;
}

.item {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
}
